.services{
  background:  hsl(210, 36%, 96%);
  text-align: center;
}
.services h1{
  display: inline-block;
  
  /*border-bottom: 4px solid #3498db;*/
  font-size: 2.5rem;
  padding-bottom: 30px;
  margin-top: 70px;
}
.cen{
  max-width: 1200px;
  margin: auto;
  overflow: hidden;
  padding: 20px;
}
.service{
  display: inline-block;
  width: calc(100% / 3);
  margin: 0 -2px;
  padding: 40px;
  box-sizing: border-box;
  cursor: pointer;
  transition: 0.2s;
}
.service:hover{
  background: #ddd;
  transform: translateY(-30px);
}
.service i{
  color: rgb(16, 170, 170);
  font-size: 34px;
  margin-bottom: 30px;
}
.service h2{
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: 500;
  margin: 0;
}
.service p{
  color: gray;
  margin-top: 10px;
  font-size: 15px;
  font-weight: 500;
}
@media screen and (max-width: 800px) {
  .service{
    width: 50%;
  }
}
@media screen and (max-width: 500px) {
  .service{
    width: 100%;
  }
}